.stripe-1 {
  color: white;
  background: repeating-linear-gradient(
    40deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
 border-radius: 10px;
}

.stripe-2{
	border: 1px solid black; 
	border-radius: 10px; 
	min-height: 690px; 
	color: white;
	background: repeating-linear-gradient(
    55deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
	);
	
}

.imagebox{
	color: #606dbc;
	background: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
	
	
}

.howtoplay{
border: 1px solid black; 
border-radius: 10px; 
padding: 5px; 
margin-top: 10px;
background:white;
color: black;

}
.demo{
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px; 
	margin-top: 10px;
	background:white;
	color:black;
	
}
.imgclasses{
	width: 190px;
    height: 137px;
	border: 2px solid black;
	background:white;
	
}